body {
	background: #666;
	font-size: 12px;
	font-family: Verdana;
	color:#fff;
}

a{
	color: #ff0000;
	&:hover {
		color: #e6e6e6;
	}
}

.bg_image, {
	background: url('../images/box.png');
	display: block;
	width: 128px;
	height: 128px;
	margin-right: 10px;
}

h1,h2{
	font-size: 11px;
}

#img_container {
	width:128px;
	height:128px;
	display:block;
}